module.exports = {
    listen: {
        host: '0.0.0.0', 
        port: 58332,
        // auth: {
        //     users: [
        //         {
        //             login: "username",
        //             hash: "password"
        //         }
        //     ]
        // }
    },
    endpoint: {
        host: 'localhost',
        port: 18332,
        network: 'testnet',
        password: 'password',
        username: 'username',
    },
    hotAccount: 'hot',
    paymentAccount: 'payment',
};
